default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: USERNAME
  password: PASSWORD

development:
  <<: *default
  database: chachachat_development

test:
  <<: *default
  database: chachachat_test

production:
  <<: *default
  database: chachachat_production
  username: chachachat
  password: <%= ENV['CHACHACHAT_DATABASE_PASSWORD'] %>
